/** @format */

.description {
  flex: 0 0 60%;
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  font-size: 1.6rem;
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--color-grey-dark-2);
  font-weight: 400;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.lists {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-light-2);
  border-bottom: 1px solid var(--color-grey-light-2);
}

.list {
  flex: 0 0 50%;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: var(--color-primary);
}

.list span {
  color: var(--color-grey-dark-2);
}

.descEnd {
  display: flex;
  align-items: center;
}

.descEnd p {
  font-size: 1.2rem;
  margin-right: auto;
}

.images {
  box-sizing: content-box;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: -1.5rem;
  border: 3px solid #fff;
}
