/** @format */

.photoBox {
  display: flex;
}

.photoBox figure {
  overflow: hidden;
}

.photo {
  width: 100%;
  display: block;
  transition: transform 0.4s;
}

.photo:hover {
  transform: scale(1.1);
}
