/** @format */

.reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.box {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 2rem 3.5rem;
  position: relative;
}

.blockpost {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  z-index: 10;
  position: relative;
}

.image {
  display: block;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.userReview {
  display: flex;
  align-items: center;
}

.textBox {
  margin-right: auto;
}
.name {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.rating {
  font-size: 2.25rem;
  font-weight: 300;
  color: var(--color-primary);
}

.box::before {
  content: "\201C";
  position: absolute;
  top: -9rem;
  left: -1rem;
  font-size: 20rem;
  font-family: sans-serif;
  color: var(--color-grey-light-2);
  z-index: 1;
}
